.custom-color {
    background-color: #261d45;
}

.custom-nav {
    margin-top: 12px;
    margin-left: 15px;
    color: #177578 !important;
    font-weight: bold;
    font-size: 2rem;
}

.custom-nav:hover {
    color: #00fdc7 !important;
}

.custom-datetime {
    text-align: right;
    margin-left: 74%;
}

.custom-bth {
    font-size: 16px;
}

.custom-bd {
    margin-top: 4rem;
    background-color: #372963;
}

.custom-animation_border {
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: slidein;
}

.custom-blog {
    padding: 8px;
    background-color: #261d45;
    border-color: #1d1833;
}

@keyframes slidein {
    from {
        box-shadow: 0px 0px 0px #261d45;
    }

    to {
        box-shadow: 0px 0px 15px #00f897;
    }
}

.custom-author {
    background-color: #1e1737;
    color: #027ff6;
}

.custom-blog_title {
    color: #fff;
}

.custom-blog_preview {
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    color: #bcbac3;
}

.custom-blog_text {
    color: #bcbac3;
}

    .custom-blog_time {
        padding-right: 2rem;
        color: #b08bff;
    }

.custom-comment {
    word-wrap: break-word;
    margin: 8px auto;
    width: 96%;
    background-color: #1d1833;
    border: 1px solid #5e1e6f;
    border-radius: 1rem;
}

.custom-comment_block {
    padding: 5px;
}

.custom-logout_btn {
    background-color: #122642;
    border-color: #ff9a03;
    margin-top: 16px;
    margin-right: 10px;
}

.custom-title {
    letter-spacing: .075rem;
    color: #00ebb8;
    font-family: cursive;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.form-control {
    color: #ff9a03;
    background-color: #2c214e;
    border: 1px solid #2d2323;
}

.control-label {
    font-size: 14px;
    color: #fff;
}
.custom-jumbotron {
    margin-top: 100px;
    color: #fff;
    background-color: #554194;
}

.custom-cyber {
    color: #FF4081
}

.custom-cyber_blog {
    color: #FF4081
}

.custom-jumbotron p {
    color: #d2d2d2;
}

.tag {
    color: #ff9a03;
}
